<h1>Welcome, <%= @user.name.split.first%></h1>

<h2>Events You've Created</h2>

<% if @user.created_events.count.positive?%>
  <% @user.created_events.each do |event| %>
    <div class="event_card">
      <%= event.title %><br><br>
      <%= event.date%>
    </div>
  <% end %>
<% else %>
  <p>You have not created any events yet.</p>
<% end %>

<br>
<hr style="border: none; height: 1px; background-color: #000;">
<br>

<h2>Upcoming Events</h2>
<% Event.where("date > ?", Time.now).each do |event| %>
  <div class="event_card">
    <%= Event.find(event.id).title%><br><br>
    <%= Event.find(event.id).date%>
  </div>
<% end %>

<br>
<hr style="border: none; height: 1px; background-color: #000;">
<br>

<h2>Events You've Attended</h2>

