<h1>Welcome, <%= @user.name.split.first%></h1>

<h2>Events You've Created</h2>

<% if @user.created_events.count.positive?%>
  <% @user.created_events.each do |event| %>
    <div class="event_card">
      <%= event.title %><br><br>
      <%= event.date%>
    </div>
  <% end %>
<% else %>
  <p>You have not created any events yet.</p>
<% end %>

<br>
<hr style="border: none; height: 1px; background-color: #000;">
<br>

<h2>Upcoming Events</h2>
<% @upcoming_user_events =  Event.find_by_sql(
  "SELECT * FROM events 
   INNER JOIN attendances on events.id = attendances.event_id 
   INNER JOIN users ON attendances.attendee_id = users.id 
   WHERE date > '#{Time.now}'")%>
<ul>
  <% @upcoming_user_events.each do |event| %>
    <%= event.title %>
    <li><%= link_to "#{event.title}", event_path(event) %></li>
  <% end %>
</ul>

<br>
<hr style="border: none; height: 1px; background-color: #000;">
<br>

<h2>Events You've Attended</h2>
<% @past_user_events =  Event.find_by_sql(
  "SELECT * FROM events 
   INNER JOIN attendances on events.id = attendances.event_id 
   INNER JOIN users ON attendances.attendee_id = users.id 
   WHERE date < '#{Time.now}'")%>
<ul>
  <% @past_user_events.each do |event| %>
    <li><%= link_to "#{event.title}", event_path(event) %></li>
  <% end %>
</ul>