<h1>All Events</h1>

<h2>Upcoming Events</h2>
<% @events.upcoming_events.each do |event|%>
  <div class="event_card">
    <p> Event Name: <%= event.title %></p>
    <p> Event Date: <%= event.date %></p>
    <p> Created By: <%= event.creator.name%></p>
    <%= button_to "Details", "/events/#{event.id}", method: :get %>
  </div>

  <br>
  <hr style="border: none; height: 1px; background-color: #000;">
  <br>
<% end %>

<h2>Past Events</h2>
<% @events.past_events.each do |event|%>
  <div class="event_card">
    <p> Event Name: <%= event.title %></p>
    <p> Event Date: <%= event.date %></p>
    <p> Created By: <%= event.creator.name%></p>
    <%= button_to "Details", "/events/#{event.id}", method: :get %>
  </div>

  <br>
  <hr style="border: none; height: 1px; background-color: #000;">
  <br>
<% end %>
