<h2>Create a new event</h2>

<%= form_for @event do |f| %>
  <div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title, autofocus: true %><br><br>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_field :date, autofocus: true %><br><br>
  </div>

  <div class="actions">
    <%= f.submit "Create Event" %>
  </div>
<% end %>
